<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-gray-200">
    <h1 class="text-2xl font-bold mt-4 bg-white px-4 py-2 shadow-md">
        {{ header }}
    </h1>
    <div class="flex flex-col items-center p-6">
        <div class="w-full max-w-6xl bg-white shadow-md p-6">
            <form id="dynamic-form" class="space-y-4">
                {% for question in questions %}
                <div>
                    <label class="block text-gray-700" for="question{{ forloop.counter }}">
                        {{ question.question_text }}

                        <i class="fas fa-info-circle text-gray-500 ml-2 cursor-pointer hover:text-blue-500"
                           onmouseover="showTooltip(event, '{{ question.extra_info }}')"
                           onmouseout="hideTooltip()"
                           onclick="toggleTooltip(event, '{{ question.extra_info }}')"></i>
                           
                    </label>
                    <input class="w-full p-2 border border-gray-300" id="question{{ forloop.counter }}" name="question{{ forloop.counter }}" type="text">
                    <div class="hidden absolute left-0 mt-2 bg-gray-700 text-white text-sm p-2 rounded shadow-md w-64 tooltip">
                        Extra informatie over deze vraag.
                    </div>
                </div>
                {% endfor %}
            </form>
            <div class="flex justify-between mt-6">
                <button class="bg-red-500 text-white py-2 px-4" type="button">Save</button>
                <button class="bg-red-500 text-white py-2 px-4" type="button" onclick="window.location.href='{% url 'financial_overview' %}';">
                    Show Overview
                </button>
                <button class="bg-red-500 text-white py-2 px-4" type="submit">Submit</button>
            </div>
        </div>
    </div>
    <script>
        // Example script to change the title dynamically
        document.getElementById('page-title').innerText = `Welcome, ${localStorage.getItem('username') || 'User'}`;
    </script>
</body>
</html>