<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Aids Overview</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>    
<body class="bg-gray-200">
    <h1 class="text-2xl font-bold mt-4 bg-white px-4 py-2 shadow-md">
        Financial Aids Overview
    </h1>
    <div class="flex flex-col items-center p-6">
        <div class="w-full max-w-6xl bg-white shadow-md p-6">
            <table class="min-w-full border-collapse border border-gray-400 mt-4">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2 text-left">Financial Aids</th>
                        <th class="border border-gray-400 px-4 py-2 text-left">Eligibility</th>
                    </tr>
                </thead>
                <tbody>
                    {% for support in supports %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">{{ support.name }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            {% if support.eligible %}
                            <a href="{{ support.link }}" target="_blank" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-blue-600">
                                APPLY
                            </a>
                            {% else %}
                            <button 
                                class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600"
                                onclick="showReferenceIncome()">
                                N/A
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% if error %}
                    <tr>
                        <td colspan="2" class="border border-gray-400 px-4 py-2 text-red-500">{{ error }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // Function to show reference income and max allowed in an alert
        function showReferenceIncome(referenceIncome, maxAllowed) {
            alert(`Your reference income is too high. The maximum allowed can be found here: https://www.uhasselt.be/media/ceodluou/inkomensgrenzen-catergorie%C3%ABn-blad1-4.pdf`);
        }
    </script>
</body>
</html>