<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Login Page
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body class="bg-gray-200">
  <div class="flex flex-col items-center">
   <div class="w-full relative">
    <img alt="Students sitting on a bench outside a university building" class="w-full h-96 object-cover" height="400" src="https://storage.googleapis.com/a1aa/image/RMAedMOWS8vEw_uH0HS9WF4Rlg9CFEFigWrtxw2NF1E.jpg" width="1200"/>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white bg-opacity-75 px-4 py-2">
     <h1 class="text-2xl font-bold">
      Toegangscontrole - Login Page
     </h1>
    </div>
   </div>
   <div class="w-full max-w-6xl bg-white shadow-md mt-4 p-6 flex flex-col md:flex-row">
    <div class="w-full md:w-1/3 bg-red-500 p-6 text-white">
     <form class="space-y-4">
      <div>
       <label class="block" for="user-id">
        user-id:
       </label>
       <input class="w-full p-2 text-black" id="user-id" type="text"/>
      </div>
      <div>
       <label class="block" for="password">
        password:
       </label>
       <input class="w-full p-2 text-black" id="password" type="password"/>
      </div>
      <button class="w-full bg-red-700 py-2" type="submit">
       Login
      </button>
      <button class="w-full bg-red-700 py-2" type="button">
       e-id Login
      </button>
     </form>
     <p class="mt-4">
      This is a public computer
     </p>
     <div class="mt-4">
      <a class="text-white underline" href="#">
       Wachtwoord vergeten?
      </a>
      <a class="text-white underline ml-2" href="#">
       Forgot your password?
      </a>
      <a class="text-white underline ml-2" href="#">
       Account geactiveerd?
      </a>
      <a class="text-white underline ml-2" href="#">
       Activate your account?
      </a>
     </div>
    </div>
    <div class="w-full md:w-2/3 p-6 space-y-4">
     <div>
      <h2 class="text-red-500 font-bold">
       VOOR PERSONEEL/STUDENTEN:
      </h2>
      <p>
       Gebruik het user-id en wachtwoord dat je gebruikt om je e-mail te lezen.
      </p>
      <p>
       Let op dat je je studentenaccount eerst hebt geactiveerd.
      </p>
      <p>
       Opgepast! Je blijft ingelogd voor al deze webtoepassingen tot je je browser volledig afsluit.
      </p>
      <p>
       Voor ondersteuning en problemen kun je de servicedesk contacteren op
       <a class="text-blue-500 underline" href="https://servicedesk.uhasselt.be">
        https://servicedesk.uhasselt.be
       </a>
      </p>
     </div>
     <div>
      <h2 class="text-red-500 font-bold">
       FOR STAFF/STUDENTS:
      </h2>
      <p>
       Use your user-id and password that you use to read your e-mail.
      </p>
      <p>
       Please first check if you have activated your account.
      </p>
      <p>
       Warning! You will remain logged in for these webapplications until you close the browser completely.
      </p>
      <p>
       For support and problems you can contact the servicedesk at
       <a class="text-blue-500 underline" href="https://servicedesk.uhasselt.be">
        https://servicedesk.uhasselt.be
       </a>
      </p>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
