<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Login or click continue
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body class="bg-gray-200">
  <div class="flex flex-col items-center">
   <div class="w-full relative">
    <img alt="Students sitting on a bench outside a university building" class="w-full h-96 object-cover" height="400" src="https://storage.googleapis.com/a1aa/image/RMAedMOWS8vEw_uH0HS9WF4Rlg9CFEFigWrtxw2NF1E.jpg" width="1200"/>
   </div>
   <h1 class="text-2xl font-bold mt-4 bg-white px-4 py-2 shadow-md">
    Toegangscontrole - Login Page
    </h1>
   <div class="w-full max-w-6xl bg-white shadow-md mt-4 p-6 flex flex-col md:flex-row">
    <div class="w-full md:w-1/3 bg-red-500 p-6 text-white">
     <form class="space-y-4">
      <div>
       <label class="block" for="user-id">
        User-id:
       </label>
       <input class="w-full p-2 text-black" id="user-id" type="text"/>
      </div>
      <div>
       <label class="block" for="password">
        Password:
       </label>
       <input class="w-full p-2 text-black" id="password" type="password"/>
      </div>
      <button class="w-full bg-red-700 py-2" type="submit">
       Login
      </button>
      <button class="w-full bg-red-700 py-2" type="button">
       Continue as guest
      </button>
     </form>
     <div class="mt-4">
      <a class="text-white underline" href="#">
       Wachtwoord vergeten?
      </a>
      <a class="text-white underline ml-2" href="#">
       Forgot your password?
      </a>
     </div>
    </div>
    <div class="w-full md:w-2/3 p-6 space-y-4">
     <div>
      <h2 class="text-red-500 font-bold">
       VOOR GEBRUIKERS/GASTEN:
      </h2>
      <p>
        Indien je wilt inloggen om informatie te kunnen opslaan of op te halen, vul je gegevens in in de voorziene ruimtes.
      </p>
      <p>
       Gebruik het user-id en wachtwoord dat je gebruikt om je e-mail te lezen en vul deze in.
      </p>
      <p>
       Let op dat je je studentenaccount eerst hebt geactiveerd.
      </p>
      <br></br>
      <p>
       Indien je echter wenst om geen account aan te maken of geen account hebt, kan je ook doorgaan als gast door op de knop Continue as guest te klikken.
      </p>
     </div>
     <div>
      <h2 class="text-red-500 font-bold">
       FOR USERS/GUESTS:
      </h2>
      <p>
        If you would like to log in to save or retrieve information, please fill in your data in the spaces provided.
      </p>
      <p>
       Use your user-id and password that you use to read your e-mail and fill those in.
      </p>
      <p>
       Please first check if you have activated your account.
      </p>
      <br></br>
      <p>
       However, if you wouldn't like to make an account or don't have an account, you can also continue as guest by clicking on the Continue as guest button.
      </p>
      <p>
      </p>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
